footer {
    border-bottom: 3px solid rgb(248, 11, 11);
}

h4 {
    font-size: small;
    border-bottom: 3px solid black;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px;
    text-align: center;
}