@import "header";
@import "reset";
@import "body";
@import "footer";


//Variables

$color-principal: rgb(241, 235, 227);
$color-titulos: rgb(12, 12, 19);

body{
    background-color: $color-principal;
}

h1{
    color: $color-titulos;
}